.link {
  width: 100px;
  height: 100px;
  transition: transform 0.2s;
  border-radius: 50%;
  display: block;
}

.div {
  width: 100px;
  height: 100px;
  transition: transform 0.2s;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .link {
    width: 70px;
    height: 70px;
  }

  .div {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 400px) {
  .link {
    width: 50px;
    height: 50px;
  }

  .div {
    width: 50px;
    height: 50px;
  }
}