.button {
  display: flex;
  background: linear-gradient(170deg, #ffd953, #f90);
  height: 60px;
  width: 300px;
  margin: 0 auto;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  color: #262626;
  border-radius: 10px;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .button {
    width: 260px;
    font-size: 1.5em;
  }
}