.aside {
  z-index: 4;
  position: absolute;
  height: 100%;
  left: -100%;
  top: 0;
  background: url("../../../img/backgrounds/desc.png") no-repeat;
  background-size: cover;
  background-position: center center;
  animation: open 0.5s forwards;
  overflow: auto;
  width: 100%;
  opacity: 0;
}

.wrapper {
  margin: 100px 5% 0;
  max-width: 400px;
}

.priceList {
  background-image: url("../../../img/priceList.jpg");
  min-width: 260px;
  height: 460px;
  background-size: contain;
  background-repeat: no-repeat;
}

.p {
  margin: 20px 0;
}

@keyframes open {
  to {
    left: 0;
    opacity: 1;
  }
}